.vijay{
    background-color: red;
}
.alia{
    background-color: blue;
}
.rajni{
    background-color:yellow;
}
.vs{
    background-color: aqua;
}
.ks{
    background-color: green;
}
#abc{
    background-color: brown;
    font-size: large;
}